body {

  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.75em;
  color: #384047;
  background: #F6F6FA !important;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 400;
}
a:not([href]):not([tabindex]) {

}
img {
  width: 100%;
}

.container_sideNav {
  margin: 0 auto;
  width: 95%;
  margin: 0 5% 0 0;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #fff
}

.mousetrap {
  width: 5%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: .32s ease-out;
  z-index: 2;
  background: #384047;
}

.mousetrap a, .navBtn {
  color: #fff;
}

.toggle {
  width: 200px;
}

.reveal {
  opacity: 1;
  left: 0;
}

.side_nav_nav {
  padding-left: 60px;
  overflow: hidden;
  position: absolute;
  transition: .3s ease-out;
  top: 80px;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.side_nav_nav a {
  float: left;
  padding: 8px 0;
  opacity: .5;
  width: 100%;
  transition: .3s ease;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.85em;
  color: #fff !important
}

.side_nav_nav a:hover, .current, .toggle .navBtn {
  opacity: 1;
}



#navSidebutton {
  outline: 0;
  outline-color: 0;
}

.navBtn {
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
  -webkit-transform: rotate(0deg);
  transition: .3s ease-out;
  display: block;
  cursor: pointer;
  outline: 0;
  position: absolute;
  z-index: 1000001;
  opacity: .5;
  left: 0;
}

.toggle .navBtn {
  -webkit-transform: rotate(224deg);
  left: -8%;
}

.navBtn:hover {
  opacity: 1;
}

.main {
  background: #f6f6f6;
  float: right;
  width: 95%;
  margin: 0 0 0 5%;
  padding: 0;
  transition: .6s ease-in;
  overflow: hidden;
  z-index: 2;
}

h3 {
  font-size: 3em;
  color: #EAC734;
  font-weight: 300;
  transition: .6s ease-in;
  line-height: 1em;
}

article {
  padding: 40px 10%;
}

.push {
  margin-left: 100px;
  margin-right: -100px;
  transition: .3s ease-in;
}

.overlay {
  width: 100%;
  background: #384047;
  opacity: .85;
  z-index: 1;
  height: 100%;
  position: fixed;
  display: none;
}

.block {
  display: block;
}

/* 1024 */
.toggle .side_nav_nav {
  padding-left: 60px;
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .container_sideNav {
    width: 100%;
    margin: 0;
  }
  .mousetrap {
    width: 8%;
  }
  .main {
    width: 100%;
  }
  .toggle .side_nav_nav {
    padding-left: 60px;
    opacity: 1;
  }
}

/* 768 */

@media only screen and (max-width: 768px) {
  .mousetrap {
    width: 10%;
  }
  .main {
    width: 100%;
  }
  .toggle .side_nav_nav {
    padding-left: 60px;
    opacity: 1;
  }
}

/* 480 */

@media only screen and (max-width: 480px) {
  .mousetrap {
    width: 20%;
  }
  .main {
    width: 80%;
  }
  .toggle .side_nav_nav {
    padding-left: 10px;
    opacity: 1;
  }
  h3 {
    font-size: 2em;
  }
  /* 320 */
  @media only screen and (max-width: 320px) {
    .mousetrap {
      width: 15%;
    }
    .toggle .side_nav_nav {
      padding-left: 10px;
      opacity: 1;
    }
    .main {
      width: 85%;
    }
  }
  button:focus {
    outline: none;
  }
