.preview_container .module_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%
}
.module_container .padding-crocs-stories {
  padding:20px 10px 5px 10px;
}
/* .preview_container .fancy-headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
  line-height: 1.0;
  width: 100%;
}

.preview_container .fancy-headline:before,
.preview_container .fancy-headline:after {
  background-color: #444;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}

.preview_container .fancy-headline:before {
  margin-right: 10px;
}

.preview_container .fancy-headline:after {
  margin-left: 10px;
} */

.preview_container .flex_box_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.preview_container .flex_box_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.preview_container .module_two_text_container {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.preview_container a:hover, .preview_container a:active, .preview_container a:focus {
  text-decoration: none;
}

.preview_container #a_href_hover:hover {
  text-decoration: underline;
}
.preview_container .story_text {
  padding: 25px;
}

.preview_container .text_container {
  width: 100%;
}

.preview_container .hero_story_container {
  padding: 25px 15px 25px 15px;
  background-color: #fff;
  margin: 20px;
}

.preview_container .background_colored_div {
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .preview_container .cs_container-fluid, .preview_container .background_colored_div.cs_container-crocs,   .preview_container #mobile_image_full_screen {
    padding-left: 0px;
    padding-right: 0px;
  }
  .preview_container #story2_hover, .preview_container #a_href_hover, .preview_container #story1_hover {
    text-decoration: underline;
  }
  .preview_container .story1, .preview_container .story2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .preview_container .story_text {
  padding: 20px 10px 20px 10px;
  }

}

@media(min-width: 481px) {
  .preview_container .background_colored_div {
    padding: 35px;
  }
}
