.preview_container .module_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%
}
.preview_container .flex_box_column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: center;
}
.preview_container .flex_box_row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	align-content: center;
}
.preview_container .module_two_text_container {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7%;
  padding-bottom: 7%;
}
.preview_container .large_hero_image {
  width: 495px;
  height: 270px;
}
.preview_container a:hover, .preview_container a:active, .preview_container a:focus {
  text-decoration: none;
}
.preview_container #a_href_hover:hover {
  text-decoration: underline;
}
.preview_container .text_container {
  width: 100%;
}
.preview_container .hero_story_container {
  padding: 20px;
  background-color: #fff
}
